body {

  background-image: url('../images/tron.jpg');
  background-position: 0 -11%;
}

h1, h2 {
  font-family: 'Londrina Outline', cursive;
}

header {
  background-color: #0C141F;
  height: 8em;
  margin: 1%;
  border: 0.25em solid #DF740C;
  text-align: center;
  color: #6FC3DF;
}

section {
  position: relative;
  margin-top: 2%;
}

aside {
  width: 100%;
  margin: 0% 6%;
}

form {
  margin-left: 19.3%;
}

article {
  width: 100%;
  margin-left: 23%
}

.title {
  position: absolute;
  left: auto;
  width: 77%;
}

.turn-indicator {
  height: 82%;
  width: 12%;
  float: right;
  margin-right: 2%;
}

.your-turn {
  background-color: #FFE64D;
  height: 53%;
  width: 53%;
  margin-left: 26%;
  border-radius: 62%;
}

input[type="submit"] {
  margin-left: 2.9%;
  padding: 1%;
  border-radius: 24px;
}

input[type="submit"]:focus {
  outline: none;
}

.cfour-board li {
  background-color: #0C141F;
  display: block;
  height: 3em;
  width: 5%;
  margin-left: 1%;
  margin-bottom: 0%;
  float: left;
  border: solid #DF740C 3px;
  border-radius: 60%;
}

#get_color{
	margin:10px auto;
  display:inline-block;
  border-radius: 10px;
	border: red solid 2px;
	background: red;
	color:white;
	padding:5px;
 }

 .your-turn.player-1, li.player-1 {
  background-color: #FFE64D;
 }

 .your-turn.player-2, li.player-2 {
  background-color: #6FC3DF;
 }

.winner{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-animation:fade-in 800ms ease 1200ms;
  width: 100%;
  display: none;
}

img {
  width: 100%
}
