body {
  background-color: #313131;
}

h1, h2 {
  font-family: 'Londrina Outline', cursive;
}

header {
  margin: 3%;
  border: 0.25em solid #DF740C;
  background-color: #0C141F;
  text-align: center;
  height: 10em;
  color: #6FC3DF;
}

form {
  margin-left: 5%;
}

button {
  border-radius: 18px;
  padding: 0 4%;
  margin: 0 1%;
}

.title {
  position: absolute;
  left: auto;
  width: 77%;
}

.turn-indicator {
  border-left: 0;
  float: right;
  width: 17%;
  height: 97%;
}

.your-turn {
  background-color: #E6FFFF;
  height: 53%;
  width: 76%;
  margin-left: 14%;
}


input[type="submit"] {
  border-radius: 18px;
  padding: 0 4%;
  margin: 0 1%;
}

ul.cfour-board {
  margin: 2% 0 0 2%;
}

.cfour-board li{
 	display:block;
 	width:13%;
 	float:left;
 	height:100px;
 	border:solid #DF740C 3px;
  background-color: #0C141F;
}

#get_color{
	border-radius: 10px;
	border: red solid 2px;
	background: red;
	color:white;
	margin:10px auto;
	display:inline-block;
	padding:5px;
 }

 .player-1 {
  background-color: #FFE64D;
 }

 .player-2 {
  background-color: #6FC3DF;
 }
