<header>
  <div class="title">
    <h1>Digital Representation of Instantiated Competitive Placement of Consecutive Token Quadruplets</h1>
  </div>
  <div class="turn-indicator">
    <h3>Turn indicator:</h3>
    <div class="your-turn"></div>
  </div>
</header>

<section>
  <div class="winner">
    <img src="http://media.giphy.com/media/QdOsj79GMmTm0/giphy.gif">
  </div>
  <aside>
    <form>
      <input type="submit" value="     " id="1">
      <input type="submit" value="     " id="2">
      <input type="submit" value="     " id="3">
      <input type="submit" value="     " id="4">
      <input type="submit" value="     " id="5">
      <input type="submit" value="     " id="6">
      <input type="submit" value="     " id="7">
    </form>
  </aside>
  <article>
    <ul class="cfour-board">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </article>

</section>
