<header>
  <div class="title">
    <h1>Digital Representation of Instatiated Competitive Placement of Consecutive Token Quadruplets</h1>
    <h2>AKA DIGI4</h2>
  </div>
  <div class="turn-indicator">
    <h3>Turn indicator:</h3>
    <div class="your-turn">

    </div>
  </div>
</header>
<section>
  <article>
    <form>
      <input type="submit" value="     " id="1">
      <input type="submit" value="     " id="2">
      <input type="submit" value="     " id="3">
      <input type="submit" value="     " id="4">
      <input type="submit" value="     " id="5">
      <input type="submit" value="     " id="6">
      <input type="submit" value="     " id="7">
    </form>
  </article>
  <ul class="cfour-board">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </br>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </br>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </br>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </br>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </br>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
