<header>
  <div class="title">
    <h1>Digital Representation of Instatiated Competitive Placement of Consecutive Token Quadruplets</h1>
  </div>
  <div class="turn-indicator">
    <h3>Turn indicator:</h3>
    <div class="your-turn"></div>
  </div>
</header>
<section>
  <aside>
    <form>
      <input type="submit" value="     ">
      <input type="submit" value="     ">
      <input type="submit" value="     ">
      <input type="submit" value="     ">
      <input type="submit" value="     ">
      <input type="submit" value="     ">
      <input type="submit" value="     ">
    </form>
  </aside>
  <article>
    <ul class="cfour-board">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <br>
    <br>
    <br>
    <br>

      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </article>
</section>
